* {
    margin: 0;
    font-size: 16px;
}

header {
    background-color: #E76C1F;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header img {
    height: 30px;
    object-fit: contain;
    padding: 0 64px;
}

.top-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.background-img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    background-position: bottom;
}

.display-none {
    display: none;
}

.display-flex {
    display: flex;
    width: 100%;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 6px 10px;
}

button {
    cursor: pointer;
}

.burger-logo {
    height: 226px;
    object-fit: contain;
    border-radius: 20px;
    z-index: 2;
    position: relative;
    margin-top: -113px;
}

h1 {
    color: #E76C1F;
    font-size: 48px;
    text-align: center;
}

h1 span {
    color: black;
    font-size: 48px;
}

.rating {
    height: 28px;
    object-fit: contain;
    margin-left: 36px;
    border: 1px solid black;
    border-radius: 5px;
}

.burger-house {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 8px 0;
}

.motto {
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    padding: 0 8px;
    padding-bottom: 42px;
}

.dishes-headline {
    display: flex;
    height: 60px;
    background-color: #E76C1F;
    color: white;
    box-sizing: border-box;
    align-items: center;
    margin-top: 32px;
    padding-left: 60px;
    padding-right: 60px;
}

h2 {
    font-size: 40px;
    padding-left: 44px;
    padding-top: 16px;
    padding-bottom: 16px;
}

.food-icon {
    height: 90px;
    object-fit: contain;
    position: relative;
    bottom: 0px;
    padding-left: 60px;
}

.burger-icon {
    bottom: 14px;
}

.addToBasketBtn {
    background-color: rgb(231, 108, 31);
    border: black solid 1px;
    border-radius: 5px;
    color: white;
    padding: 3.6px;
    min-width: 120px;
    display: flex;
    justify-content: center;
}

.dishes {
    margin-left: 60px;
}

.dish {
    height: 140px;
    width: 800px;
    display: flex;
    margin: 16px;
    margin-left: 0;
    background-color: #FDEADC;
    border-radius: 10px;
}

.dish-img {
    height: 120px;
    margin: 10px;
    object-fit: contain;
}

h3 {
    font-size: 24px;
    font-weight: 600;
}

.dish-description {
    margin: 10px;
}

.dish-price {
    margin: 10px;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
    min-width: 140px;
}

.dish-price p {
    font-size: 24px;
    white-space: nowrap;
}

footer {
    height: 70px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    background-color: #E76C1F;
}

.footer-icons {
    height: 24px;
    width: 24px;
    cursor: pointer;
}


.cart {
    position: relative;
    display: none;
    align-items: end;
    z-index: 3;
}

.number {
    position: absolute;
    padding: 2px;
    margin-top: -22px;
    margin-left: 26px;
    z-index: 3;
    text-align: center;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: #FDEADC;
    color: #E76C1F;
}

.dialog {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #363534;
    color: white;
    border: none;
    outline: none !important;
    border-radius: 5%;
    margin: auto;
    padding: 0px;
    height: 200px;
    width: 360px;
    transition: all 1s ease;
}

dialog p {
    font-size: 29px;
}

.order-confirmed {
    font-size: 42px;
    font-weight: 700px;
}

@media (min-width: 1500px) {
    header {
        padding: 0 calc(50% - 720px);
    }

    .wrapper {
        padding: 0 calc(50% - 720px);
        margin-left: 0;
        margin-right: 0;
    }

    footer {
        padding: 0 calc(50% - 720px);
    }
}

@media (max-width: 1270px) {
    .dish {
        flex-direction: column;
        width: 240px;
        height: auto;
    }

    .dish-price {
        flex-direction: row;
        align-items: center;
        flex-grow: 0;
    }

    .dish-description {
        margin: 0 10px;
        flex-grow: 1;
    }

    .dishes {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .dish {
        flex: 0 0 calc(50% - 38px);
        box-sizing: border-box;
    }

    .burger-house {
        flex-direction: column-reverse;
    }

    .rating {
        margin: 6px 0;
    }

    .dishes-headline {
        flex-direction: column;
        height: 75px;
        margin-top: 60px;
    }

    .burger-icon {
        padding: 0;
        bottom: 0px;
        margin-top: -75px;
        margin-bottom: 0;
    }

    .food-icon {
        padding: 0;
        bottom: 0px;
        margin-top: -66px;
        margin-bottom: -10px;
    }

    h2 {
        padding: 0;
        padding-top: 5px;
    }

    .last-section {
        margin-bottom: 70px;
    }

    footer {
        background-color: #363534;
        position: fixed;
        bottom: 0;
        width: 100%;
    }

    .footer-text {
        display: none;
    }

    .footer-icons {
        display: block;
    }

    .cart {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .dishes {
        margin: 0 30px;
    }
}

@media (max-width: 450px) {
    header {
        justify-content: space-around;
    }

    header img {
        padding: 0
    }

    .dish {
        margin: 16px 0;
    }

    .wrapper {
        margin-left: 0;
        margin-right: 0;
    }
}

