* {
    margin: 0;
    font-size: 14px;
}

header {
    background-color: orange;
    height: 120px;
}

.top-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.background-img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.burger-logo {
    height: 226px;
    object-fit: contain;
    border-radius: 20px;
    z-index: 2;
    position: relative;
    margin-top: -113px;
}

h1{
    color: orange;
    font-size: 48px;
    text-align: center;
}

h1 span{
    color: black;
    font-size: 48px;
}

.rating{
    height: 28px;
    object-fit: contain;
    margin-left: 36px;
    border: 1px solid black;
    border-radius: 5px;
}

.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:8px 0;
}

.motto{
    text-align: center;
}

section{
    
}

.dishes{
    display: flex;
    height: 60px;
    background-color: #E76C1F;
    color: white;
    box-sizing: border-box;
    align-items: center;
    padding-left: 164px;
    padding-right: 120px;
}

h2{
    font-size: 40px;
    padding-left: 44px;
    padding-top: 8px;
    padding-bottom: 16px;
}

.burger-icon{
    height: 90px;
    object-fit: contain;
    position: relative;
    bottom: 16px;
}

.pizza-icon{
    height: 90px;
    object-fit: contain;
    position: relative;
    bottom: 0px;
}

.salad-icon{
    height: 90px;
    object-fit: contain;
    position: relative;
    bottom: 0px;
}

footer{
    background-color: #E76C1F;
}

