* {
    margin: 0;
    font-size: 16px;
}

header {
    background-color: #E76C1F;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header img {
    height: 30px;
    object-fit: contain;
    padding: 0 64px;
}

.top-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.background-img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.burger-logo {
    height: 226px;
    object-fit: contain;
    border-radius: 20px;
    z-index: 2;
    position: relative;
    margin-top: -113px;
}

h1 {
    color: #E76C1F;
    font-size: 48px;
    text-align: center;
}

h1 span {
    color: black;
    font-size: 48px;
}

.rating {
    height: 28px;
    object-fit: contain;
    margin-left: 36px;
    border: 1px solid black;
    border-radius: 5px;
}

.burger-house {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 8px 0;
}

.motto {
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    padding-bottom: 42px;
}

.dishes-headline {
    display: flex;
    height: 60px;
    background-color: #E76C1F;
    color: white;
    box-sizing: border-box;
    align-items: center;
    margin-top: 32px;
    padding-left: 60px;
    padding-right: 60px;
}

h2 {
    font-size: 40px;
    padding-left: 44px;
    padding-top: 16px;
    padding-bottom: 16px;
}

.burger-icon {
    height: 90px;
    object-fit: contain;
    position: relative;
    bottom: 16px;
    padding-left: 60px;
}

.pizza-icon {
    height: 90px;
    object-fit: contain;
    position: relative;
    bottom: 0px;
    padding-left: 60px;
}

.salad-icon {
    height: 90px;
    object-fit: contain;
    position: relative;
    bottom: 0px;
    padding-left: 60px;
}

.addToBasketBtn {
    min-width: 120px;
    display: flex;
    justify-content: center;
}

.basket {
    position: sticky;
    top: 20px;
    width: 400px;
    height: 600px;
    margin-bottom: -600px;
    background-color: #363534;
    border-radius: 20px 0 0 20px;
    z-index: 3;
    justify-self: end;
    color: white;
    transition: all 0.25s;
    transition-behavior: allow-discrete;
}

.basket-top {
    display: flex;
    justify-content: center;
    position: relative;
}


.close-button {
    position: absolute;
    margin: 0;
    top: 16px;
    right: 16px;
    height: 24px;
    width: 24px;
    cursor: pointer;
}

.basket-dishes {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 300px;
    overflow-y: auto;
    box-sizing: initial;
    margin: 0 26px;
}

.basket-dish {
    background-color: #FDEADC;
    color: black;
    border-radius: 10px;
    margin: 4px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.display-flex {
    display: flex;
    width: 100%;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 6px 10px;
}

.add-basket-button {
    display: flex;
    width: 100%;
    justify-content: end;
    box-sizing: border-box;
}

.trashcan {
    height: 22px;
    object-fit: contain;
    cursor: pointer;
    padding-left: 16px;
}

.amount-adjust-div {
    width: 60px;
    padding: 0;
    align-items: center;
}

.amount-adjust-div svg {
    height: 16px;
    width: 16px;
    cursor: pointer;
}

button {
    cursor: pointer;
}

.amount-adjust-div p {
    padding: 0 8px;
}

.basket p {
    font-size: 20px;
    font-weight: 600;
}

h4 {
    font-size: 32px;
    color: #FDEADC;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 20px;
}


.basket-price-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 6px 32px;
    flex-grow: 1;
}

.white-line {
    border-bottom: 3px white solid;
    border-radius: 5px;
    width: 340px;
}

.orderButton {
    padding: 14px;
    margin: 12px 0;
    font-size: 32px;
    font-weight: 700;
    border-radius: 30px;
    background-color: #E76C1F;
    color: #FBFBFB;
}

.dishes {
    margin-left: 60px;
}

.dish {
    height: 140px;
    width: 800px;
    display: flex;
    margin: 16px;
    margin-left: 0;
    background-color: #FDEADC;
    border-radius: 10px;
}

.dish-img {
    height: 120px;
    margin: 10px;
    object-fit: contain;
}

h3 {
    font-size: 24px;
    font-weight: 600;
}

.dish-description {
    margin: 10px;
}

.dish-price {
    margin: 10px;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
    min-width: 140px;
}

.dish-price p {
    font-size: 24px;
    white-space: nowrap;
}

footer {
    height: 70px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    background-color: #E76C1F;
}

.footer-icons {
    height: 24px;
    width: 24px;
    cursor: pointer;
}

.display-none {
    display: none;
    /* opacity: 0; */
}

.cart {
    position: relative;
    display: none;
    align-items: end;
}

.number {
    position: absolute;
    padding: 2px;
    text-justify: center;
    margin-top: -22px;
    margin-left: 26px;
    z-index: 3;
    text-align: center;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: #FDEADC;
    color: #E76C1F;
}

@media (min-width: 1440px) {
    .basket {
        right: calc(50% - 720px);
    }
}


@media (min-width: 1500px) {
    header {
        padding: 0 calc(50% - 720px);
    }

    .wrapper {
        padding: 0 calc(50% - 720px);
        margin-left: 0;
        margin-right: 0;
    }

    footer {
        padding: 0 calc(50% - 720px);
    }
}

@media (max-width: 1270px) {
    .dish {
        flex-direction: column;
        width: 240px;
        height: auto;
    }

    .dish-price {
        flex-direction: row;
        align-items: center;
        flex-grow: 0;
    }

    .dish-description {
        margin: 0 10px;
        flex-grow: 1;
    }

    .dishes {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .dish{
        flex: 0 0 calc(50% - 38px);
        box-sizing: border-box;
    }

    .basket {
        top: auto;
        justify-self: center;
        top: calc(50% - 300px);
        border-radius: 20px 20px 20px 20px;
    }

    .burger-house {
        flex-direction: column-reverse;
    }

    .rating {
        margin: 6px 0;
    }

    .dishes-headline {
        flex-direction: column;
        height: 75px;
        margin-top: 60px;
    }

    .burger-icon {
        padding: 0;
        bottom: 0px;
        margin-top: -75px;
    }

    .pizza-icon {
        padding: 0;
        bottom: 0px;
        margin-top: -66px;
        margin-bottom: -10px;
    }

    .salad-icon {
        padding: 0;
        bottom: 0px;
        margin-top: -66px;
        margin-bottom: -10px;
    }

    h2 {
        padding: 0;
        padding-top: 5px;
    }

    .last-section {
        margin-bottom: 70px;
    }

    footer {
        background-color: #363534;
        position: fixed;
        bottom: 0;
        width: 100%;
    }

    .footer-text {
        display: none;
    }

    .footer-icons {
        display: block;
    }

    .cart {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .dishes {
        margin: 0 30px;
    }
}

@media (max-width: 450px) {
    header{
        justify-content: space-around;
    }

    header img{
        padding:0
    }

    .wrapper{
        margin-left: 0;
        margin-right: 0;
    }
    .basket{
        width: 305px;
    }
    .white-line{
        width: 245px;
    }
    .orderButton{
        font-size: 26px;
    }
}

@media (max-height: 750px) {
    .basket{
        top: 10px;
        height: 570px;
    }

    .basket-dishes{
        height: 270px;
    }
}