* {
    margin: 0;
    font-size: 16px;
}

header {
    background-color: #E76C1F;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header img {
    height: 50px;
    object-fit: contain;
    padding: 0 64px;
}

.top-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.background-img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.burger-logo {
    height: 226px;
    object-fit: contain;
    border-radius: 20px;
    z-index: 2;
    position: relative;
    margin-top: -113px;
}

h1 {
    color: #E76C1F;
    font-size: 48px;
    text-align: center;
}

h1 span {
    color: black;
    font-size: 48px;
}

.rating {
    height: 28px;
    object-fit: contain;
    margin-left: 36px;
    border: 1px solid black;
    border-radius: 5px;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 8px 0;
}

.motto {
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    padding-bottom: 64px;
}

.dishes-headline {
    display: flex;
    height: 60px;
    background-color: #E76C1F;
    color: white;
    box-sizing: border-box;
    align-items: center;
    padding-left: 120px;
    padding-right: 120px;
}

h2 {
    font-size: 40px;
    padding-left: 44px;
    padding-top: 8px;
    padding-bottom: 16px;
}

.burger-icon {
    height: 90px;
    object-fit: contain;
    position: relative;
    bottom: 16px;
}

.pizza-icon {
    height: 90px;
    object-fit: contain;
    position: relative;
    bottom: 0px;
}

.salad-icon {
    height: 90px;
    object-fit: contain;
    position: relative;
    bottom: 0px;
}

.addToBasketBtn {
    display: flex;
    justify-content: center;
}

.basket {
    position: sticky;
    top: 20px;
    width: 500px;
    height: 700px;
    margin-bottom: -700px;
    background-color: #363534;
    border-radius: 20px 0 0 20px;
    z-index: 3;
    justify-self: end;
    color: white;

}

.basket-dishes {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 350px;
    overflow-y: auto;
    box-sizing: initial;
    margin: 8px 26px;
}

.basket-dish {
    background-color: #FDEADC;
    color: black;
    border-radius: 10px;
    margin: 4px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.display-flex {
    display: flex;
    width: 100%;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 6px 10px;
}

.trashcan{
    height: 22px;
    object-fit: contain;
    cursor: pointer;
}

.amount-adjust-div {
    width: 60px;
    padding: 0;
    align-items: center;
}

.amount-adjust-div svg {
    height: 16px;
    width: 16px;
    cursor: pointer;
}

button {
    cursor: pointer;
    box-sizing: border-box;
}

.amount-adjust-div p {
    padding: 0 8px;
}

.basket p {
    font-size: 20px;
    font-weight: 600;
}

h4 {
    font-size: 32px;
    color: #FDEADC;
    text-align: center;
    padding-top: 36px;
    padding-bottom: 24px;
}


.basket-price-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 6px 32px;
    flex-grow: 1;
}

.white-line {
    border-bottom: 3px white solid;
    border-radius: 5px;
    width: 416px;
}

.orderButton {
    padding: 16px;
    margin: 16px;
    font-size: 32px;
    font-weight: 700;
    border-radius: 30px;
    background-color: #E76C1F;
    color: #FBFBFB;
}

.dishes {
    margin-left: 120px;
}

.dish {
    height: 140px;
    width: 800px;
    display: flex;
    margin: 16px;
    margin-left: 0;
    background-color: #FDEADC;
    border-radius: 10px;
}

.dish-img {
    height: 120px;
    margin: 10px;
    object-fit: contain;
}

h3 {
    font-size: 24px;
    font-weight: 600;
}

.dish-description {
    margin: 10px;
}

.dish-price {
    margin: 10px;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
    min-width: 140px;
}

.dish-price p {
    font-size: 24px;
}

footer {
    height: 150px;
    display: flex;
    left: 240px ;
    align-items: center;
    gap: 64px;
    color: white;
    background-color: #E76C1F;
}

.copyright{
    padding-left: 240px;
}

@media (min-width: 1680px) {
    header {
        padding: 0 calc(50% - 720px);
    }

    .wrapper {
        padding: 0 calc(50% - 720px);
        margin-left: 0;
        margin-right: 0;
    }

    footer {
        padding: 0 calc(50% - 720px);
    }

    .basket {
        right: calc(50% - 720px);
    }
}