* {
    margin: 0;
    font-size: 16px;
}

header {
    background-color: orange;
    height: 120px;
}

.top-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.background-img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.burger-logo {
    height: 226px;
    object-fit: contain;
    border-radius: 20px;
    z-index: 2;
    position: relative;
    margin-top: -113px;
}

h1{
    color: orange;
    font-size: 48px;
    text-align: center;
}

h1 span{
    color: black;
    font-size: 48px;
}

.rating{
    height: 28px;
    object-fit: contain;
    margin-left: 36px;
    border: 1px solid black;
    border-radius: 5px;
}

.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:8px 0;
}

.motto{
    text-align: center;
}

.dishes{
    display: flex;
    height: 60px;
    background-color: #E76C1F;
    color: white;
    box-sizing: border-box;
    align-items: center;
    padding-left: 164px;
    padding-right: 120px;
}

h2{
    font-size: 40px;
    padding-left: 44px;
    padding-top: 8px;
    padding-bottom: 16px;
}

.burger-icon{
    height: 90px;
    object-fit: contain;
    position: relative;
    bottom: 16px;
}

.pizza-icon{
    height: 90px;
    object-fit: contain;
    position: relative;
    bottom: 0px;
}

.salad-icon{
    height: 90px;
    object-fit: contain;
    position: relative;
    bottom: 0px;
}

.dish{
    height: 140px;
    width: 800px;
    display: flex;
    /* justify-content: space-between; */
    margin: 16px;
    background-color: #FDEADC;
    border-radius: 10px;
}

.dish-img{
    height: 120px;
    margin: 10px;
    object-fit: contain;
}
h3{
    font-size: 24px;
    font-weight: 600;
}

.dish-description{
    margin: 10px;
}

.dish-price{
    margin: 10px;
    display: flex;
    flex-grow: 1;
    justify-self: end;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
    min-width: 140px;
}

.dish-price p{
    font-size: 24px;
}

footer{
    background-color: #E76C1F;
}

